/*
MasterMind
*/

body {
    margin: 0;
}

header {
    background: rgb(175, 225, 175);
    text-align: center;
    height: max-content;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;


}

article {
    flex: 1;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    
}

#medio {    
    flex: 2;
    border: solid;
    border-width: 1px;
    
}

#tablero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 10fr;
    height: 95vh;
    gap: 5px;
    border-style: solid;
    border-color: #9A7722;
    background-color: #9A7722;
    border-radius: 10px;

    
}

#tablero div {
    border-width: 2px;
    margin: 10px;
    padding: 5px;
}

#arribaDerecha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#arribaDerecha div {
    border-style: solid;
    border-radius: 50%;
}

#resultado1 {
    background-color: green;
}

#resultado2 {
    background-color: red;
}

#resultado3 {
    background-color: blue;
}

#resultado4 {
    background-color: green;
}

#abajoIzquierda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
}

#abajoIzquierda div {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 20% 20%;
}

#abajoIzquierda div div {
    border-style: solid;
    border-radius: 50%;
}

#IF1 {
    background-color: black;

}

#IF2 {
    background-color: white;
}

#IF3 {
    background-color: white;
}

#IF4 {
    
}

#IG1 {
    background-color: white;
}

#IG2 {
    
}

#IG3 {
    background-color: black;
}

#IG4 {
    
}

#abajoDerecha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#abajoDerecha div {
    border-style: solid;
    border-radius: 50%;
}

#DF1 {
    background-color: green;
}

#DF2 {
    background-color: green;
}

#DF3 {
    background-color: orange;
}

#DF4 {
    background-color: red;
}

#DG1 {
    background-color: red;
}

#DG2 {
    background-color: yellow;
}

#DG3 {
    background-color: red;
}

#DG4 {
    background-color: green;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: large;
}